[2019-03-24 00:00] monkeymon opened #1 "How to use this?"
I have added your library, in Android, it only show me which account to use but not asking for permission?

[2019-03-25 20:09] krokyze commented on #1
Hey, that's how GoogleFit works. You select the account and it only asks for read access. It's not how HealthKit who asks for every data type separate acceptance.

[2019-04-01 14:46] hollandben opened #2 "`fit_kit` does not specify a Swift version"
I get the following error when running the example code:

Any ideas?

[2019-04-02 21:19] #1 closed

[2019-04-02 21:33] krokyze commented on #2
Hey

Try: [Generated project files outdated](https://github.com/flutter/flutter/wiki/Workarounds-for-common-issues#generated-project-files-outdated)
Using: `flutter create . -i swift`

After that add `use_frameworks!` to your Podfile.

Like this: ![](https://puu.sh/D9buF/43cbc072c1.png)

That should sort out this problem.

[2019-04-03 10:44] benhoIIand commented on #2
Worked great 👍wasn't aware of the `-i swift` addition.

[2019-04-03 10:44] #2 closed

[2019-04-08 07:37] UwaisWisitech opened #3 "Kotlin version issue"
What went wrong:
The Android Gradle plugin supports only Kotlin Gradle plugin version 1.3.0 and higher.
The following dependencies do not satisfy the required version:
project ':fit_kit' -> org.jetbrains.kotlin:kotlin-gradle-plugin:1.2.71

[2019-04-15 23:23] #3 closed

[2019-04-15 23:24] krokyze commented on #3
Fixed in v0.0.4.

[2019-04-15 23:25] krokyze commented on #3
Fixed in v0.0.4.

[2019-05-28 18:44] sai7 opened #4 "How to use this plugin."
Hello!,

I have setup the plugin & at the launch of the app, **readAll()** is being called. I am selecting an google account & then **User declined permission** text appears. That's all. How to overcome this, please?

[2019-05-30 19:43] krokyze commented on #4
Hey.

Could it be possible that you pressed "deny" the first time. I experienced this issue but haven't got time to search for solution. If user denies the permissions then GoogleSignIn.hasPermissions still returns true.

[2019-06-01 06:24] sai7 commented on #4
No, @krokyze .

From the initial launch of the app, I am getting the same scenario. Even on other Android devices also, the same situation.:)

[2019-06-01 10:06] anilslabs commented on #4
@sai7   You have to Enable Fitness API and obtain an OAuth 2.0 client ID first with the same package id you are using in your app.

[2019-06-02 07:36] PaNaVTEC opened #5 "Apple HealthKit data types"
Hi,

I was wondering if there is any plan to support the data types that Apple supports even if they are not supported by google fit:

https://developer.apple.com/documentation/healthkit/data_types

For example,
[code]

Thanks.

[2019-06-04 19:02] krokyze commented on #4
Yes as already @anil-sookshum answered, @sai7 did you completed this part https://developers.google.com/fit/android/get-api-key ?

[2019-06-04 19:10] krokyze commented on #5
Hey @PaNaVTEC

Yes definitely, I just currently haven't decided how to handle unsupported data types and had time to do it, so if you're interested you can definitely make a pull request ;)

[2019-06-04 20:59] sai7 commented on #4
Yes , @krokyze. I have enabled google fit api for the same project.

But as @anil-sookshum mentioned, do I need to use the oauth 2.0 client ID in the app? That is not needed right? I have enabled the google fit api in the app using the same package id. Let me check once again and get back to you,

Thanks much m.

[2019-06-05 06:52] anilslabs commented on #4
@sai7  have you added these dependencies in app level gradle file
dependencies {
   ......
    compile 'com.google.android.gms:play-services-fitness:16.0.1'
    compile 'com.google.android.gms:play-services-auth:16.0.1'
}

For me it is working fine with above steps. Also check by logging in to with the  same google account you are using for OAuth client id.

[2019-06-05 06:54] krokyze commented on #4
Those dependencies are already in the Android part of the package so you don't have to add them on your project.

[2019-06-05 06:56] krokyze commented on #4
@sai7 Yes you have to enable the Google Fit API and add your package id, that's it. The client id in app is not needed.

[2019-06-06 10:34] FatCat1411 commented on #4
Hello, first of thank you for this package,
I have some issue as people above, enabled Google Fit API and add package id, and I have success log in my google account, but the data return is empty.
I can see datatype in logcat, such as heart_rate or step_count, but the data is empty. I have make sure that I have data on Google Fit using android app with the same name.
Thank you very much.
Ps: I hav

[2019-06-07 23:20] ryanhz commented on #4
I really don't know how to make it work in android.  I do enable the Fitness API and also obtain an OAuth 2.0 client ID.   But the ID is nowhere to use.  There is a prompt for which Google account to use, but then just silent disappear, then no error, await FitKit.requestPermissions(DataType.values) just return false.

[2019-06-10 09:04] PaNaVTEC commented on #5
@krokyze  I can take a look on how to implement it, do you have any idea/preference? I was thinking on returning something like an `Option<T>`, so if we publish all the possible datatypes it can return `Some(measure)` or `Nothing`.

[2019-06-26 10:19] nielstj opened #7 "Must specify a valid bucketing strategy while requesting aggregation"
Thanks for writing this plugin.

I encounter Platform exception when trying to fetch steps data with this code :

[code]

The exception

[code]

Tried solution from [here](https://stackoverflow.com/questions/38608174/java-lang-illegalstateexception-must-specify-a-valid-bucketing-strategy-while-r), by removing bucketByTime(...),  no exception thrown, but results always empty or 0.

Is this a proble

[2019-07-10 21:32] krokyze commented on #4
If anyone still is having problems please open new issue.

[2019-07-10 21:32] #4 closed

[2019-07-10 21:44] krokyze commented on #5
Hey @PaNaVTEC

Sorry for the late reply. Yes Optional sounds like the right choice. I will close this issue, feel free to open new one ;)

[2019-07-10 21:44] #5 closed

[2019-07-10 21:46] krokyze commented on #7
Hey @nielstj

Sorry for the late reply. Did you already manage to solve this issue? What's the start/end dates?

[2019-07-11 11:27] fvisticot opened #10 "[iOS] Heathkit"
Is it possible with the plugin to get data even when app is in background.
This feature is required for my use case.
It seems possible as describe in this post:
[https://stackoverflow.com/questions/26375767/healthkit-background-delivery-when-app-is-not-running]

[2019-07-12 02:10] nielstj commented on #7
No, I haven't resolve it yet. Start is the beginning of a day at 00.00 and end is the end of day at 23.59.

[2019-07-21 12:35] endrelovas opened #11 "NoSuchMethodError: The getter 'millisecondsSinceEpoch' was called on null."
Hi,
Thank you for this nice lib. I used the earlier version without issues. Now I am getting the above exception on read. I am not 100% sure if it is related to the update or not. Issues seems to be in "fit_kit.dart" file upon _channel.invokeListMethod call.

[2019-07-21 12:48] endrelovas commented on #11
Sorry mate, my bad. I forgot to set the "dateFrom" parameter on call.

[2019-07-21 12:48] #11 closed

[2019-07-22 06:38] krishnakirana opened #12 "Is it posibble to check whether user granted permission or not without showing any authentication to the user?"

[2019-07-22 06:42] krishnakirana opened #13 "FitKit.requestPermissions is returning true permission even though user denied the health kit permission."

[2019-07-22 10:16] krokyze commented on #13
That's how HealthKit works https://stackoverflow.com/a/56937166

[2019-07-22 10:16] #13 closed

[2019-07-22 10:19] krokyze commented on #12
Currently no. I will add this as a feature request.

[2019-07-22 10:24] krokyze commented on #10
Hey, currently you can only use it foreground.

[2019-08-08 07:08] krishnakirana opened #14 "How to clear the synced google account and ask for a new google account sync?"

[2019-08-14 07:36] pkc1672 opened #15 "how to get current permission status"
I need to get current status at Fitness
because need activate permission request button when permission canceled from outside .
so, how can I get that?

[2019-08-19 14:27] davidanaya opened #16 "weight and height empty"
Hi,

Thanks for the plugin, it's awesome.

I tested it both with Android and iOS builds and works fine but I can't get any value for Height and Weight. I have it both in Apple Health and Google Fit and I'm reading it with the `readAll` method. Is this supposed to work? As they are not values within a period of time maybe I need to do it with `read` only?

[2019-08-20 07:31] davidanaya commented on #16
I was reading the values from the last 5 days and weight and height are not returned unless I update the values.
I guess this should not be like that, we should get a proper reading for weight and height even if the values have not been updated in the last 5 days.

[2019-08-20 20:29] krokyze commented on #16
Hey, so currently how this plugin works is reading data types within a period of time. Completely understand your point of view and will add this as a feature request to support reading last value of any data type.

[2019-08-20 20:40] krokyze commented on #15
Hey, so this would work as expected only on Android GoogleFit, because iOS HealthKit in case user denies access still returns success. You can read more about this here: https://stackoverflow.com/a/56937166

In case your still interested, respond here and I will add it as a feature request.

[2019-08-21 06:32] davidanaya commented on #16
Thanks @krokyze

[2019-08-21 12:37] krokyze commented on #16
Let's just leave it open, once it's in the plugin I will close it ;)

[2019-08-22 03:12] longmengua opened #17 "Please support the blood pressure information future."
Please support the blood pressure information future.

[2019-08-29 07:49] mychaelgo opened #18 "[Google Fit ]Support for recording user steps?"
Does this library support for recording user steps ?
Reference: https://developers.google.com/fit/scenarios/record-steps

[2019-08-29 10:44] krokyze commented on #18
No, currently plugin only supports reading values from history.

[2019-09-10 18:46] ronguleria opened #19 "Steps not match with Google fit app"
I Will try to get steps on my app
but steps did not match with google fit in android
code void healthDatareadAll() async {
steps=0;
if (await FitKit.requestPermissions(DataType.values)) {
for (DataType type in DataType.values) {
final results = await FitKit.read(
type,
DateTime(DateTime.now().year,DateTime.now().month,DateTime.now().day-1,0,0,0,0,0,),
DateTime.now().subtract(Duration(days: 1)),
);

[2019-09-10 18:49] ronguleria commented on #19
I Will try to get steps on my app
but steps did not match with google fit in android
 code  void healthDatareadAll() async {
    steps=0;
    if (await FitKit.requestPermissions(DataType.values)) {
      for (DataType type in DataType.values) {
        final results = await FitKit.read(
          type,
          DateTime(DateTime.now().year,DateTime.now().month,DateTime.now().day-1,0,0,0,0,0,),

[2019-09-12 10:37] hemanthkaipaa commented on #19
Same here it was not matching with google fit app. Step count is more than what displayed in google fit.

[2019-09-24 14:21] janosdupai opened #21 "Got the permission, but every array is empty, when it reads the data."
Thank you for this awesome pub!
I implemented it, and everything works fine in iOS, but somehow android device give me empty arrays, without any data.
If I am right, I got the permission, and the console printing me every datatype, but it has an empty square bracket.
Should I do any specific on android devices?
My application not appears in the device setting at the Samsung Health Settings -> conn

[2019-09-24 14:39] janosdupai commented on #21
D/FitKit  (21469): readSample: heart_rate
I/flutter (21469): []
D/FitKit  (21469): readSample: step_count
I/flutter (21469): []
D/FitKit  (21469): readSample: height
I/flutter (21469): []
D/FitKit  (21469): readSample: weight
I/flutter (21469): []
D/FitKit  (21469): readSample: distance
I/flutter (21469): []
D/FitKit  (21469): readSample: energy
I/flutter (21469): []
D/FitKit  (21469): readSample:

[2019-09-24 20:21] krokyze commented on #19
Hey @ronguleria @hemanthkaipaa it could be that there are some duplicates in the entries and Google Fit just takes one. Can you please verify if dateFrom, dateTo for the entries are unique?

[2019-09-24 20:27] krokyze commented on #21
Hey @janosdupai Android is integrated with Google Fit, as far as I know they don't have any connection between them. Can you please try to [sync your Samsung Health Data with Google Fit](https://www.androidauthority.com/sync-samsung-health-google-fit-870718/)?

[2019-09-25 06:21] janosdupai commented on #21
Thank you! That was the reason. Now works perfectly!

[2019-09-25 06:21] #21 closed

[2019-09-26 16:06] janosdupai opened #22 "Duplicates the AppleWatch and devices data on iOS"
The apple health stores the energy, steps, and distance data.

The apple health shows, that my Watch stored 12500 steps, and the device tracked 12200. But fit_kit cumulates the data, and I get a result of 24700. Can we make difference somehow among the data sources?

[2019-09-29 07:52] thevishvajeet opened #23 "App crashes when installed..and exitis abruptly while performing function readall"

[2019-09-29 20:05] krokyze commented on #23
Hey sorry to hear that, is that the new version 0.0.6 or previous 0.0.5 too? Which platform Android/iOS? Can you give some stacktrace please?

[2019-09-30 08:14] krokyze commented on #22
Hey, now in the 0.0.6 version FitData has extra field source, that should solve your issue.

[2019-09-30 08:14] #22 closed

[2019-10-03 16:09] brightboahen commented on #23
I'm having the same issue with version **^0.0.6** on iOS

[2019-10-03 18:12] brightboahen commented on #23
@thevishvajeet - I was having the same issue but realised I hadn't added the capabilities to the plist.

[2019-10-19 04:17] hukusuke1007 opened #24 "Request of GoogleSignIn.hasPermissions"
I hope support to hasPermissions API.

[code]

How to use.

[code]

[2019-10-30 00:24] LOCKEDFILE opened #25 "[Please Review and Pull requests] Sleep Analytics in Health"
Could you add to Sleep Analytics in Health?

[2019-10-30 18:35] SheriefAlaa opened #26 "How to ignore data that was manually entered by users in HealthKit/GoogleFit?"
Hi Martin / @krokyze,

I was wondering whether it is possible or not filter out data by manual entry as false. I see that iOS has a [metakey](https://developer.apple.com/documentation/healthkit/hkmetadatakeywasuserentered) for this, but I am not sure about Android.

Any help would be appreciated.

Thanks.

-Sherief

[2019-10-31 08:03] SheriefAlaa commented on #26
I see it's also [possible](https://developers.google.com/android/reference/com/google/android/gms/fitness/data/DataSource.html#TYPE_RAW) for Android/Google Fitness

[2019-11-03 13:51] omarsherifs opened #27 "App crush and Exited"
I can't run the example app ... App stop execution and print this message:

[code]

[2019-11-04 07:20] omarsherifs commented on #27
this error is of missing the version and build number

[2019-11-04 07:20] #27 closed

[2019-11-04 08:47] #23 closed

[2019-11-10 11:30] omarsherifs commented on #2
using` flutter create . -i swift`

result this
[code]
is there an updated command for this task ?
@krokyze

[2019-11-10 13:24] omarsherifs commented on #2
my error message :

[code]

[2019-11-12 16:07] krokyze commented on #2
@omarsherifs try running: `flutter create -i swift .`

[2019-11-13 06:47] omarsherifs commented on #2
@krokyze
it doesn't work also and this my compiler message when trying to install 'fit_kit':

[code]

[2019-11-13 06:56] omarsherifs commented on #2
This the verbose for the `flutter run -verbose ` :
[code]

[2019-11-20 09:58] omarsherifs commented on #2
I just follow these steps and the problem is solved:
https://github.com/ko2ic/image_downloader/issues/9#issuecomment-471608482

[2019-11-25 21:34] krokyze commented on #12
Hey `hasPermissions` has been added in version 1.0.0. But it's not completely supported on iOS, more info here: https://github.com/krokyze/FitKit#be-aware

[2019-11-25 21:34] #12 closed

[2019-11-25 21:35] krokyze commented on #14
Hey `revokePermissions ` has been added in version 1.0.0. But it's not supported on iOS, more info here: https://github.com/krokyze/FitKit#be-aware

[2019-11-25 21:35] #14 closed

[2019-11-25 21:38] krokyze commented on #24
Duplicate of #12

[2019-11-25 21:38] #24 closed

[2019-11-25 21:40] krokyze commented on #15
Duplicate of #12

[2019-11-25 21:40] #15 closed

[2019-11-25 21:42] krokyze commented on #16
In version 1.0.0 new parameter `readLast` has been implemented.

[2019-11-25 21:42] #16 closed

[2019-11-25 21:44] krokyze commented on #19
As of version 0.0.6 extra field source has been implemented for every data object.

[2019-11-25 21:44] #19 closed

[2019-11-25 22:04] krokyze commented on #26
Hey `userEntered` has been added in version 1.0.1. 😉

[2019-11-25 22:04] #26 closed

[2019-11-28 21:31] krokyze commented on #25
Hey sleep analytics has been added in version 1.1.0 😉

[2019-11-28 21:31] #25 closed

[2019-12-08 12:22] AmitaiMazliah commented on #10
You can use my fork https://github.com/AmitaiMazliah/FitKit
it's still a work in progress and only implemented for iOS.

for android you can combine it with https://pub.dev/packages/background_fetch
and it works perfect

[2019-12-11 22:17] SheriefAlaa opened #30 "[Bug] FitKit iOS will ignore data in the same hour."
Hey,

I think I may have hit a bug.

How to reproduce:
1- create 3 walking/running/distance activities in a span of an hour. Let's say `11/11/2019 11:00:00PM` to `12:00:00PM`
2- The first activity will have a start date `11/11/2019 11:00:00PM UTC` end date `11/11/2019 11:15:00PM UTC`
3- The second activity will have a start date `11/11/2019 11:16:00PM UTC` end date `11/11/2019 11:32:00PM UTC`
4- T

[2019-12-11 22:20] SheriefAlaa commented on #30
All dates are in UTC. I even generated dates at server side and passed them to fitkit and it somehow doesn't fetch specific activities within an hour range.

[2019-12-11 23:18] #30 closed

[2019-12-12 09:50] krokyze commented on #30
Hey @SheriefAlaa did you found out what's the issue?

[2019-12-13 08:15] SheriefAlaa commented on #30
Not in an optimal way. After digging deep into the Swift/Android code of the plugin, I have discovered that calling read with from/to dates that include timezone info is pretty useless because the plugin will not care about this since it uses Unix epochs.

What was a even bigger surprise that returned data dates were in local device time that did not carry timezone info too which in the end forced

[2019-12-13 20:44] SheriefAlaa commented on #30
@krokyze ^

[2019-12-28 14:08] SheriefAlaa opened #31 "Users are able to get past the google read activity prompt"
Hi @krokyze,

I use in my app `FitKit.requestPermissions([DataType.DISTANCE])` but if a user taps outside of the google prompt, I can never trigger it back and sometimes I get:
`PlatformException(FitKit, 4: The user must be signed in to make this API call., null)`

Is there any way I can re-trigger the google prompt?

Thanks.

[2020-01-02 12:56] HarisSpahija opened #32 "Running example app is extremely difficult"
As someone who is new to using google fit in flutter it is particularly hard to run the example app. A lot is either missing or just wrong such as the dependency of `fit_kit` in `pubspec.yaml`

Could there be some more instructions added to the `README.md` on how to make the example run? Thanks!

@krokyze If you need help feel free to let us know so we can submit a PR

[2020-01-05 22:40] krokyze commented on #32
Hey @HarisSpahija

Could you please name all the issues you had trouble with? Submitting step by step in a PR would definitely help me.

About the dependency then it's correct. You should clone the whole project.

[2020-01-06 13:38] krokyze commented on #31
Hey @SheriefAlaa

Tried to reproduce this in example app but unsuccessfully. Can you please share your code here?

[2020-01-06 14:47] krokyze commented on #30
@SheriefAlaa unix epochs are timezone independent so calling read with from/to dates that include timezone info is not useless. Also returned DateTime is in local device time with timezone included.

The issue in your query is that for DateTime.parse("11/11/2019 11:39:00") you didn't add UTC time zone like this "11/11/2019 11:39:00z".

[2020-01-08 10:01] HarisSpahija commented on #32
This was a bit how my process went trying to test the example app

[code]

I think having a simple instructions guide or warning with:

[code]

Having this would already be super helpful for new users for this library.

[2020-01-18 16:18] webdeploy-bologni-federico opened #35 "requestCode too big."
FitKit/android/src/main/kotlin/com/example/fit_kit/FitKitPlugin.kt

45 |        private const val GOOGLE_FIT_REQUEST_CODE = 80085

Did I miss something or is there a way to set it up differently?

[2020-01-20 12:00] krokyze commented on #35
Hey never had issues like this, but just understood it's actually too big. Will change it this evening and push a new version 😉

[2020-01-20 20:41] krokyze commented on #35
Fix released in version 1.1.1 😉

[2020-01-20 20:41] #35 closed

[2020-01-21 17:20] zbolo-wd commented on #35
Thanks man ;)

[2020-01-21 22:18] DonsWayo commented on #26
where I need to add this userEntered parameter?, can you provide a example?

`var results = await FitKit.read(
      DataType.STEP_COUNT,
      dateFrom: fromDay,
      dateTo: DateTime.now(),
    );
`

Thanks!

[2020-01-21 22:50] krokyze commented on #26
Hey `userEntered` is returned for every FitData object. So you can just filter them out from results.
https://github.com/krokyze/FitKit/blob/16719c3be3554eec1ac61f4e01d4b9a6df7b92a1/lib/src/fit_data.dart#L15

[2020-01-22 04:10] carlleeswanson opened #36 "New datatypes in v1.1.1 have broken compatibility w/ older versions of iOS"
The addition of "STAND_TIME" appears to have made this package incompatible with iOS 12.4 (presumably other older iOS versions also).

FitKit.requestPermissions(DataType.values) always throws the following error:
PlatformException(FitKit, Error type "stand time" is not supported, null)

Removing "STAND_TIME" from fit_kit.dart solves the problem.
Oddly, "EXERCISE_TIME" doesn't generate an error.

[2020-01-22 05:56] LOCKEDFILE opened #37 "Can I write health data in Health Apps(Apple)?"
When i Use `FitKit`,  i can read health data in `Health Apps` like `sleep, height, weight ...`.

I wonder how to write **Health Data**?

is it possible?

Thanks you, sir.

[2020-01-22 07:36] DonsWayo commented on #26
okay perfect, Thanks for the library!

[2020-01-25 18:11] RafaRuiz opened #38 "Crash on iOS"
Hello. I'm using:

    Future<void> fit() async {
      List<DataType> dataTypes = [DataType.STEP_COUNT, DataType.ENERGY];
      if (await FitKit.requestPermissions(dataTypes)) {
        for (DataType type in dataTypes) {
          final results = await FitKit.read(
            type,
            dateFrom: Jiffy().subtract(days: 1),
            dateTo: DateTime.now(),
          );
        }
      }

[2020-01-28 16:17] MelanieGravel commented on #36
I got the exact same error.

HKQuantityTypeIdentifier' has no member 'appleStandTime', on the Extensions.swift file

[2020-03-06 01:30] softmarshmallow commented on #36
Also android raises error with the same comment. `STAND_TIME`

[2020-03-06 07:34] W2YAdmin commented on #10
Hi @AmitaiMazliah ,

Does your fork support background fetch? I have the Android part working great using background_fetch but facing crashes on IOS.

Do I just need to replace the fit_kit I have with your fork? Are there any other changes needed?

[2020-03-13 12:38] jaydeep42 commented on #32
@HarisSpahija  what items you added in gradle?
Because I am still getting 0 in all the data

[2020-03-16 16:45] janosdupai commented on #36
Same here.

PlatformException(FitKit, type stand_time is not supported, null) - on Android device. Any idea?

[2020-04-12 23:14] khmurakami commented on #36
@janosdupai
@softmarshmallow
@carlleeswanson

In the example folder it has this line,

[code]

It doesn't work on Android because Standtime is not supported. The README.md shows the supported types.

DataType.values is a List<DataType> of all the possible values which includes the ones supported in iOS.

The way to go about this, is to declare a new list and then pass in these values instead for A

[2020-04-29 19:43] omarsherifs opened #44 "is google fit required ?"
should I install google fit on the mobile to get the health data ?

[2020-04-30 08:00] Ahsanwarsi commented on #44
@omarsherifs Yes, You'll need to install Google Fit in order to fetch data. Make sure you are using same google account for Google Fit & flutter app.

[2020-04-30 10:19] kwanso-ahsan opened #45 "Google account selection dialog is prompting every time when FitKit.requestPermissions is being called on Android."
@krokyze
![20200430_151729](https://user-images.githubusercontent.com/41280513/80699761-f88f8f80-8af5-11ea-8a51-1fc602a2f964.png)

[2020-04-30 19:05] omarsherifs commented on #44
thanks

[2020-04-30 19:05] #44 closed

[2020-05-13 21:18] rish07 opened #46 "How to read user details?"
I am trying to display the Fitness Datatypes with the user's name and email. How do I get the logged-in user's details?

[2020-05-17 19:28] Tetsukick opened #47 "How to use this plugin in android"
I really don't know how to make it work in android. I do enable the Fitness API and also obtain an OAuth 2.0 client ID. But the ID is nowhere to use. There is a prompt for which Google account to use, but then just silent disappear, then no error, await FitKit.requestPermissions(DataType.values) just return false.

[2020-05-18 09:52] kwanso-ahsan commented on #45
@krokyze Can you please address this issue?

[2020-05-19 16:40] LaxmikanthMadhyastha commented on #45
Any update on this?

[2020-05-20 09:28] agharshit08 opened #48 "Is there a way to get token of Google Fit from the fit_kit SDK as it is provided when user allows scopes in consent screen?"

[2020-05-20 15:28] #46 closed

[2020-05-27 07:23] haohmaruru opened #49 "disconnect fit kit"
After connect to  healthkit can i have anyway to disconnect and reconnect again?

[2020-05-30 21:27] manusmarthome opened #50 "Example: PlatformException"
Hi, I am new to Flutter and Google Fit integration. I tried following the example provided and I am seeing
Result: realdAll: PlatformException(FitKit, type stand_time is not supported, null)

Can someone help me with this?

[2020-05-31 22:39] krokyze commented on #49
`revokePermissions` works only on Android, as HealthKit for iOS doesn't have disconnect as an option.

[2020-05-31 22:39] #49 closed

[2020-06-02 13:47] vvicenteboo commented on #47
same issue here, any solution?, for me requestPermissions only works on dev but crashes on release apk

[2020-06-02 15:38] vvicenteboo commented on #45
i have same issue, on dev is working well but on release is prompting google account selection every time with requestPermissions result false, any solution?

[2020-06-05 09:11] LaxmikanthMadhyastha commented on #45
Hi, any update regarding this issue?

[2020-06-13 17:52] #31 closed

[2020-06-13 17:54] krokyze commented on #37
Sorry, currently plugin only supports reading values from history.

[2020-06-13 18:50] krokyze commented on #48
Currently plugin doesn't support this.

[2020-06-13 19:01] #38 closed

[2020-06-13 19:04] krokyze commented on #50
Duplicate of #36

[2020-06-13 19:04] #50 closed

[2020-06-13 19:26] krokyze commented on #45
I'm not 100% sure what could lead to this issue. Can you make sure that for the client ID you added release SHA-1 and not the debug one? @vvicenteboo

[2020-06-13 19:27] krokyze commented on #47
Duplicate of #45

[2020-06-13 19:27] #47 closed

[2020-06-14 00:49] krokyze commented on #36
Starting from version 1.1.2 it's advised to wrap all read methods inside try catch as `FitKit.read` will throw specific `UnsupportedException`

[code]

[2020-06-14 00:49] #36 closed

[2020-06-17 04:43] LaxmikanthMadhyastha commented on #45
Hi @krokyze, I have checked the SHA-1 fingerprint and it is of release one.
When I tried with flutter run --release also it is working fine but only when the app is downloaded from play store dialog is prompting every time even after giving the permission.

[2020-06-25 08:46] krokyze commented on #45
@LaxmikanthMadhyastha it sounds like you have enabled App signing in Google Play and your upload, signing certificates are different. You need to add the signing SHA-1 which you can find in Google Play Console -> Your app -> Release management -> App signing.

[2020-06-26 05:54] LaxmikanthMadhyastha commented on #45
@krokyze Thanks a lot it worked, that's a new thing which I didn't know

[2020-06-26 07:26] #45 closed

[2020-06-26 07:27] krokyze commented on #45
@LaxmikanthMadhyastha happy to hear that! 😉

[2020-06-30 04:27] LokiRathod opened #52 "Is it possible to get the ECG Report ?"

[2020-07-01 14:51] LokiRathod commented on #52
Any Updates on this ?

[2020-07-01 15:24] krokyze commented on #52
Sorry, currently plugin doesn't support reading ECG report.

[2020-07-01 15:29] LokiRathod commented on #52
Apple is given the Permission to pull out the ECG data ?

[2020-07-01 15:35] krokyze commented on #52
Not sure about that.

[2020-07-02 01:06] troyzonzon opened #53 "Authentication Failure"
Hi we are running your newest widget and are having issues with Android, it is not showing permission screen and is going directly to the account selection and then it fails. IOS is working perfectly.

[2020-07-02 01:09] #53 closed

[2020-07-03 00:23] troyzonzon opened #54 "Missing Fitness Access popup"
Hi I have used your widget in other apps, but this particular app using the newest widget is not popping up the authorization screen, I am only seeing the account selection.

[2020-07-03 19:20] krokyze commented on #54
Hey @troyzonzon could you be more specific. Android or iOS? Which version?

[2020-07-04 13:48] ltonn02 commented on #53
Hi @troyzonzon, I'm currently facing the same problem as you are describing. Have you found any solution to this problem?

[2020-07-04 15:23] ltonn02 commented on #54
Hi, I have the same problem with my app. I'm using the Android version. Every time I start the app the account selector pops up, when I click on my account nothing happens. When I try to read data using this:

`final results = await FitKit.read(`
`      DataType.DISTANCE,`
`      dateFrom: DateTime.now().subtract(Duration(days: 5)),`
`      dateTo: DateTime.now(),`
 `   );`

I get this error:
`Pla

[2020-07-04 21:13] krokyze commented on #54
@ltonn02 can you please verify this: https://github.com/krokyze/FitKit/issues/45#issuecomment-643667079

[2020-07-06 16:56] ltonn02 commented on #54
@krokyze thanks for your advice, I think I fixed the issue. You need to add the release SHA-1 to the debug configuration as well.
My build.gradle now looks like this:

![signingconfig](https://user-images.githubusercontent.com/40540600/86619012-2099e400-bfba-11ea-86ea-e0cf546c762d.png)

![buildtypes](https://user-images.githubusercontent.com/40540600/86619081-37403b00-bfba-11ea-95ab-40d30f4b8f14.p

[2020-07-08 13:07] isthar opened #55 "Unable to fetch SLEEP data"
I am trying to fetch sleep data on iOS 13+ device without success - I am receiving empty list regardless date range being used.

 final sleepCount = await FitKit.read(
      DataType.SLEEP,
      dateFrom: _startDate,
      dateTo: _endDate,
    );

Permissions are granted upon first run. It does work for DataType.STEP_COUNT

[2020-07-14 05:55] svijay7598 opened #56 "it does not calculate a correect value for steps.Example if I walk 500 steps it will show 200 steps only. What is the reason for that and how can i fix it."

[2020-07-15 11:20] Harshdeep4295 commented on #4
@here I was facing the same issue... I just verified the package which  I was using in flutter and the one which Is registered on google console. Both should be same

[2020-07-19 22:07] #54 closed

[2020-07-19 22:08] krokyze commented on #56
Well how much does it show on Google Fit/Health Kit?

[2020-07-19 22:12] krokyze commented on #55
Not sure what could lead to this. Do you have any sleepAnalysis data in HealthKit?

[2020-07-20 10:42] Ahsanwarsi opened #57 "FitKit.requestPermissions(DataType.values)"

[2020-07-20 10:48] Ahsanwarsi commented on #57
@krokyze Can you please address this issue.

[2020-07-23 21:00] Gene-Dana commented on #52
HKElectrocardiogramQuery
https://developer.apple.com/documentation/healthkit/hksamplequery

Announcement here
https://9to5mac.com/2020/06/23/ios-14-healthkit-new-features-opens-ecg-symptoms-more/

[2020-07-25 06:17] Matsuo32 opened #58 "How to get Running Activity in splits of distance"
Hi
  I need to get running only , but result is include walking and running.

`//HKSampleType.quantityType(forIdentifier: .distanceWalkingRunning) <---- include walking and running`

Thank you

[2020-07-30 12:02] ajeethhacki opened #59 "Application not even running"
Showing lot of errors

[2020-07-30 16:44] L3thal14 commented on #32
@jaydeep42 Just add google-services.json with oauth2 ID generated and in build.gradle under dependencies add these 2:
` compile 'com.google.android.gms:play-services-fitness:18.0.0' `
` compile 'com.google.android.gms:play-services-auth:17.0.0' `
Happy Fluttering! :))

[2020-07-30 16:44] gokulp01 commented on #32
@L3thal14 thanks. That worked :)

[2020-08-03 11:52] krokyze commented on #59
Please be more specific.

[2020-08-03 11:58] krokyze commented on #58
Hey, currently it's not supported.

[2020-08-03 20:20] ronytesler commented on #58
@Matsuo32
Anyone knows how to get the running/walking/still in Android? Not necessarily using this library.

[2020-08-05 08:36] Feduch opened #60 "Android 10 - ACTIVITY_RECOGNITION"
Hi!

On Android 10 getting PlatformException

`I/flutter (11492): PlatformException(FitKit, 10: SecurityException: com.google.step_count.delta requires android.permission.ACTIVITY_RECOGNITION, null)
I/flutter (11492): #0      StandardMethodCodec.decodeEnvelope (package:flutter/src/services/message_codecs.dart:569)
I/flutter (11492): #1      MethodChannel._invokeMethod (package:flutter/src/services

[2020-08-12 06:54] LaxmikanthMadhyastha commented on #60
I am also facing this issue after changing the targetSdkVersion and compileSdkVersion to 29 and I think this is something to do with new privacy changes in the new Android 10. More info on the below link.

https://developer.android.com/about/versions/10/privacy/changes#physical-activity-recognition

I was able to solve this by manually asking the permission for ACTIVITY_RECOGNITION using permissio

[2020-08-12 09:04] Feduch commented on #60
Hi!

I using this package, for manually asking the permission.

https://pub.dev/packages/permission_handler

[2020-09-14 14:43] LokiRathod commented on #52
Thank you @Gene-Dana ,
Hi @krokyze , Can you please look this ECG new API's and help us with generating reports/download report and sending through mail, Which will be we so helpful for current situation.

Thank,
Lokesh

[2020-09-17 19:24] 15tariqj opened #61 "Android Google Sign In loop"
I've encountered an issue on Android when using the package, here's the Stack Overflow post I've made on it:
https://stackoverflow.com/questions/63930001/google-sign-in-choose-an-account-to-continue-loop

[2020-09-17 21:26] #61 closed

[2020-09-21 08:05] Feduch commented on #60
Hi!

Code how you can request access to activity on 10 android.

[code]

[2020-09-21 08:05] #60 closed

[2020-10-02 12:19] TjarcoKerssens opened #62 "iOS distance cycling (distanceCycling)"
Would it be possible to also get [`distanceCycling`](https://developer.apple.com/documentation/healthkit/hkquantitytypeidentifier/1615477-distancecycling) from iOS?

[2020-10-08 15:59] adham-ashraf77 opened #63 "problem using fitkit android"
Hey i try the example and it don't work and try in project where i work and do OAuth 2.0 client ID and enable google fit api into the mail
and get error
Unhandled Exception: PlatformException(FitKit, User denied permission access, null, null)
i select my email then it get this error

[2020-10-10 11:24] amrsolimanmoustafa opened #64 "I have a problem to test fit_kit in debug mode"
I have a problem to test fit_kit in debug modem and test fit_kit step count output.

[2020-10-11 08:49] adham-ashraf77 commented on #63
solved using debug key.

[2020-10-11 08:49] #63 closed

[2020-10-20 03:56] HangingClowns opened #65 "Upcoming Google API Changes"
Just got notified: https://developers.google.com/fit/improvements

I ran through the code, but I didn't see if you asked for reading or writing permission, just permission to each type. I'm guessing that should suffice or do you need help with a code change? i'm more than happy to help update, if need be.

[2020-11-11 09:05] melsheikh92 opened #66 "[iOS] steps count is not correct and return the sum of steps on multiple devices regardless of using them meantime."
while using Apple watch and mobile together, the library gives me the sum of the number of steps on mobile and on apple watch as an aggregation which is not correct and makes double the value.

![WhatsApp Image 2020-11-11 at 9 47 31 AM](https://user-images.githubusercontent.com/5676934/98791122-42462480-240d-11eb-8702-a9c5bce49bde.jpeg)
![WhatsApp Image 2020-11-11 at 9 47 32 AM](https://user-image

[2020-11-11 10:01] melsheikh92 commented on #22
@krokyze is there a way to get the summary value as in the Health app on iOS without calculating steps overlaps which will not be accurate.

[2020-12-02 14:08] jakub-trzebiatowski commented on #60
@Feduch I think that it's really not obvious that this snippet is required for FitKit to work on Android phones! Why isn't this logic part of `FitKit.requestPermissions` _or_ another helper method, let's say `FitKit.requestSystemPermissions`?

At very least it should be explicitly documented in the README that such snippet is required, or even included in the example code!

[2020-12-04 14:39] vintage commented on #66
Same issue here.

[2020-12-04 17:41] krokyze commented on #60
@Feduch @cubuspl42 you're always welcome to make a PR with changes.

[2020-12-07 13:00] vintage commented on #66
@melsheikh92 mind to share the code? The `FitData` contains the `source` field which you can use to properly calculate sum of steps for users with more than one device.

[2020-12-07 19:09] brightmind-loredo commented on #37
@krokyze I need to write some health data.  Is there any plan to update this plug-in to support writing?  I need to write to both Google-fit and apple.  WHat do you recomend?

[2020-12-08 12:16] krokyze commented on #37
@brightmind-loredo currently there's no plan of doing it. You're always welcome to make pull request with your changes.

[2020-12-14 13:39] mirkancal opened #67 "Security exception while getting Step data"
I was trying to fit_kit package, saw this exception related to the steps

<img src="https://user-images.githubusercontent.com/26160059/101949726-18973d80-3c05-11eb-84ef-a5c5406549d6.png" height=400>

Added this `<uses-permission android:name="android.permission.ACTIVITY_RECOGNITION" />
` in AndroidManifest.xml but didn't work.

[2020-12-14 14:04] mirkancal commented on #67
After I've manually turn on the activity permission it worked. Is there anyway we can add this permission to package?

<img src="https://user-images.githubusercontent.com/26160059/102090292-57f4a280-3e2e-11eb-91ac-ffebd930ba7e.png" height=400>

[2021-01-11 10:31] HarisSpahija commented on #32
I think this issue can be closed with the comments from @L3thal14

[2021-01-11 10:31] #32 closed

[2021-01-14 09:01] leanhro2812 opened #68 "Fitkit 1.1.2 Problems with 1.2x flutter version.."
After I upgrade or use the latest versions of flutter the fitkit doesn't seem to work as it used to be.

[2021-01-14 15:36] nongtiny commented on #15
I have a hacky way to check this.

We can check from the last year's read data. Health(iOS) still collects last year's records. So, if it returns an empty list then the permission is false, else it will be true.

[2021-01-19 08:40] nongtiny opened #69 "[Android] infinite loading after choose account in OAuth consent screen"
Flutter 1.22.5 • channel stable
fit_kit: ^1.1.2
ONEPLUS A6000

When I checked the permission in the application info, the physical activity is allowed, but it can't use `FitKit.read`.

[2021-01-19 10:55] nagisayuu commented on #69
I had same issue.
In my case , making the Publishing status "In production" in oauth concent screen setting solved the issue.

https://console.developers.google.com/apis/

[2021-01-19 15:19] Harshdeep4295 commented on #69
Edited: if you want to use it in the testing state, do add a user who will have access to the GCP by adding a test user.
as displayed in image.
<img width="697" alt="Screenshot 2021-01-19 at 8 52 05 PM" src="https://user-images.githubusercontent.com/25767941/105054601-32dff900-5a98-11eb-87ff-1d2742f0cc47.png">

[2021-01-20 04:03] nongtiny commented on #69
I changed to the production state, and it works. Before that, I did like what you do @Harshdeep4295, and it also works.

Right now, I don't know why it works only in the production state.

By the way, thank you for your responses.

[2021-01-20 04:03] #69 closed

[2021-01-20 12:06] kdChavada opened #70 "requestPermissions: Failed"
Not At solution requestPermissions: Failed

[2021-01-29 05:59] erguncengiz opened #71 "How to get specific values in FitData(...) list?"
Thx for that, awesome package!
I copied the code that in example page to my app. When i tap to read button, i see values in my screen.
The value like:

[FitData(value : 45, dateFrom: 2021-01-28 13:45:23.174, dateTo: ....)]

i just want to count only values like '45'.

How can i do that?

[2021-01-29 06:31] erguncengiz commented on #71
Can anyone please help me?

[2021-01-29 07:10] erguncengiz commented on #71
The solution that i found at below:

[code]

[2021-01-29 07:11] #71 closed

[2021-02-05 02:11] #68 closed

[2021-02-09 06:10] erguncengiz opened #72 "iOS device closing app when i try to read values."
I used the codes in the 'example' field in the application. This structure, which works perfectly on my Android device, when I press the read button on my iOS device, the application fails and closes the application. What should I do?

[2021-02-10 06:28] erguncengiz commented on #72
I found the solution and posted at StackOverflow : [here](https://stackoverflow.com/questions/66114618/how-to-get-permission-in-ios-device-at-flutter)

[2021-02-11 13:27] erguncengiz opened #73 "How can I add exercise minutes manually in the Health app?"
I paired my iPhone simulator with Apple Watch simulator. I want to read exercise minutes with this library but how can i do that?

[2021-02-16 06:35] svijay7598 opened #74 "Exeption in FITKITNoSuchMethodError: The setter 'stepRecord=' was called on null"
Step count not working.Without installaing Google fit app.But when I install google fit it works good.How to track step without installing google fit application

[2021-03-01 06:34] DinithHerath commented on #73
- To get the exercise minutes from the health kit you need to modify the plugin.
- It currently supports some of the health kit parameters such as step_count, distance_walk, etc.

**Fortunately, I have modified the plugin to do that 😁**

Use this in the pubspec.yaml as fitkit plugin.
[code]
And in your code to get the exercise_minutes use this snippet.
[code]
**This reads data from the health kit

[2021-03-01 06:40] DinithHerath commented on #66
- This issue is due to the usage of **HKSampleQuery** in this plugin. [https://developer.apple.com/documentation/healthkit/hksamplequery](url)
- If we use **HKStatisticsQuery**, this problem will get eliminated and duplicate removal will be done by Apple itself. 😍 https://developer.apple.com/documentation/healthkit/hkstatisticsquery
- It currently supports some of the health kit parameters such as

[2021-03-01 06:45] DinithHerath commented on #66
- Even though you do like that duplicates removal will be really hard since apple uses various algorithms to optimally calculate the cumulative value.
- Even if you some way remove duplicates based upon the source, you will never get the value that is showing for you in the health kit app.

[2021-03-10 08:52] GwonHyeok commented on #70
@kdChavada

When the Android SDK version is 30, requestPermission always fails.

The problem was temporarily solved by changing the Android SDK target to 29.

@krokyze Can you check the problem?

[2021-03-12 05:42] alextat120 opened #75 "Calories consumed"
I noticed this supports calories expended? Can this support calories consumed as well?

[2021-03-12 08:10] liubest opened #76 "How can it run in Android Studio"
How can it run in Android Studio. I import the android folder in Android Studio. But it seems cannot run. Anyone can help with it. Thanks.

[2021-03-20 11:39] kusal1215 opened #77 "Data won't display after run the program"
![Capture1](https://user-images.githubusercontent.com/53207612/111868186-78d51280-899e-11eb-905b-cf0fc3579dbb.PNG)

**The program is running properly and connects to the google fit account but the issue is the data won't display in the app. What can I try to solve this issue? Any suggestion will be helpful thank you!**

[2021-04-07 08:31] noinskit opened #78 "Null-safe version"
The current version cannot be used with Flutter 2.0 sound null safety. Could we please get a null-safe version of the package?

[2021-04-11 15:01] ramsmart-inno opened #79 "Google fit steps data is showing in fit. But it shows NULL in Fit Api. Mobile brands are realme, vivo,...etc"
Could someone give a clear picture of it?